/* الخلفية */
body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* العناوين */
h1, h2, h3, h4 {
    color: #0D47A1;
}

/* البطاقات */
.stCard {
    background-color: #E3F2FD;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

/* الأزرار */
.stButton>button {
    background-color: #1565C0;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    font-weight: bold;
}
.stButton>button:hover {
    background-color: #0D47A1;
}